   
@media only screen and (min-width: 768px) {
    #container.a1 {

    }
    .page {
        margin-top:50px;
        font-size: 16px;
        border-left:2px solid #101010;
        border-right:2px solid #101010;
        border-bottom:2px solid #101010;
        color:white;
        background-color:#303030;
    }
    .page img {
        border:2px solid black;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0,0,0, .8);
        float:left;
        height:161px;
        width:161px;
        margin-right: 10px;
        margin-top:20px;
        margin-bottom: 10px;
    }
    .page b {
        
    }
}
@media only screen and (max-width:768px) {
    #container.a1 {

    }
    .page {
        margin-top:50px;
        font-size: 16px;
        color:white;
        background-color:#303030;
        text-align: center;
    }
    .page img {
        border:2px solid black;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0,0,0, .8);
        height:161px;
        width:161px;
        margin-right: 10px;
        margin-top:20px;
        position: relative;
    }
    .page b {
        
    }
}
.cp {
    text-align: center;
    line-height: 40px;
    background-color: #101010;
    color:white;
    margin-top:0;
}
}